<div>
    <div class="chooseBox">
        <a class="homeButton" href="/#/ubetterwerk" ng-click="showme=true">Home</a>
        <p class="chooseText"> Choose a Star: </p>
        <a href="#chad" ng-click="showme=false">Chad</a>
        <a href="#katya" ng-click="showme=false">Katya</a>
        <a href="#bob" ng-click="showme=false">Bob</a>
    </div>
    <img ng-show="showme" src='../imgs/rupaul.gif' />
</div>


<!-- <a href="" ng-click="showme=true">Show</a>
  <button ng-click="showme=false">Hide</button>

  <div class="wrapper">
    <p ng-hide="showme">It will appear here!</p>
    <h2 ng-show="showme">This is mah content, yo!</h2>
  </div> -->
